<!doctype html>
<html class="no-js" lang="en">
    <!-- header -->
    <% include partials/header.ejs %>
    <!-- Left Panel -->
    <% include partials/navbar.ejs %>
    <!-- Left Panel Finish here-->
    <% stuff = typeof stuff !== 'object' ? {} : stuff %>

    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                    <table class="table table-bordered">
                            <thead class="thead-dark">
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Username</th>
                                <th scope="col">Email</th>
                                <th scope="col">Location</th>
                                <th scope="col">House No</th>
                                <th scope="col" >Action</th>
                              </tr>
                            </thead>
                            <% var c=0; for(var i=0; i < data.length; i++) { c++; %>
                            <tbody>
                                <tr>
                                    <th scope="row"><%= c %></th>
                                    <td>
                                        <a href="profile_home?h_id=<%= data[i].house_number %>"><%= data[i].user_name %></a>
                                    </td>
                                    <td><%= data[i].email %></td>
                                    <td><%= data[i].location %></td>
                                    <td><%= data[i].house_number %></td>   
                                    <td>
                                        <a href="#" class="btn btn-success">Edit</a>
                                        <a href="javascript:void(0);" class="btn btn-sm btn-danger delete" data-userid="<%= data[i].user_id %>">Delete</a>
                                    </td>
                                </tr>
                            </tbody>
                            <% } %>
                          </table>
            </div>
        </div>
            <div class="col-xl-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Temp Guide</h4>
                            <div class="d-flex align-items-center flex-row m-t-30">
                                <div class="display-5 text-info"><i class="wi wi-day-showers"></i> <span>73<sup>°</sup></span></div>
                                <div class="m-l-10">
                                    <h3 class="m-b-0">Saturday</h3><small>Ahmedabad, India</small>
                                </div>
                            </div>
                            <table class="table no-border mini-table m-t-20">
                                <tbody>
                                    <tr>
                                        <td class="text-muted">Wind</td>
                                        <td class="font-medium">ESE 17 mph</td>
                                    </tr>
                                    <tr>
                                        <td class="text-muted">Humidity</td>
                                        <td class="font-medium">83%</td>
                                    </tr>
                                    <tr>
                                        <td class="text-muted">Pressure</td>
                                        <td class="font-medium">28.56 in</td>
                                    </tr>
                                    <tr>
                                        <td class="text-muted">Cloud Cover</td>
                                        <td class="font-medium">78%</td>
                                    </tr>
                                </tbody>
                            </table>
                            <ul class="row list-style-none text-center m-t-30">
                                <li class="col-3">
                                    <h4 class="text-info"><i class="wi wi-day-sunny"></i></h4>
                                    <span class="d-block text-muted">09:30</span>
                                    <h3 class="m-t-5">70<sup>°</sup></h3>
                                </li>
                                <li class="col-3">
                                    <h4 class="text-info"><i class="wi wi-day-cloudy"></i></h4>
                                    <span class="d-block text-muted">11:30</span>
                                    <h3 class="m-t-5">72<sup>°</sup></h3>
                                </li>
                                <li class="col-3">
                                    <h4 class="text-info"><i class="wi wi-day-hail"></i></h4>
                                    <span class="d-block text-muted">13:30</span>
                                    <h3 class="m-t-5">75<sup>°</sup></h3>
                                </li>
                                <li class="col-3">
                                    <h4 class="text-info"><i class="wi wi-day-sprinkle"></i></h4>
                                    <span class="d-block text-muted">15:30</span>
                                    <h3 class="m-t-5">76<sup>°</sup></h3>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            <div class="col-xl-3 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="ti-money text-success border-success"></i></div>
                            <div class="stat-content dib">
                                <div class="stat-text">Total Profit</div>
                                <div class="stat-digit">1,012</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-xl-3 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="ti-user text-primary border-primary"></i></div>
                            <div class="stat-content dib">
                                <div class="stat-text">New Customer</div>
                                <div class="stat-digit">961</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="ti-layout-grid2 text-warning border-warning"></i></div>
                            <div class="stat-content dib">
                                <div class="stat-text">Active Projects</div>
                                <div class="stat-digit">770</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Delete Product Modal-->
 	  <form id="add-row-form" action="/delete" method="post">
        <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
           <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                                       <h5 class="modal-title" id="myModalLabel">Delete Product</h5>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  </div>
                  <div class="modal-body">
                                               <strong>Are You Sure To Delete This Data?</strong>
                  </div>
                  <div class="modal-footer">
                                           <input type="hidden" name="product_id" class="form-control product_id2" required>
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                         <button type="submit" class="btn btn-success">Delete</button>
                  </div>
                     </div>
           </div>
        </div>
    </form>


<!-- include footer -->
<% include partials/footer.ejs %>
