<!doctype html>
<html class="no-js" lang="en">
    <!-- header -->
    <% include partials/header.ejs %>
    <!-- Left Panel -->
    <% include partials/navbar.ejs %>
    <!-- Left Panel Finish here-->
    <% stuff = typeof stuff !== 'object' ? {} : stuff %>

    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <h4></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                 <!-- Trigger the modal with a button -->
                <br><button class="btn btn-primary"  data-toggle="modal" data-target="#myModal">Add New Home</button><br><br>
            </div>
        </div>
        <div>
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                            <h4 class="modal-title" style="text-align: center">Add New House</h4>
                        </div>
                        <div class="modal-body">
                            <form action="/home" method="post">
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="text" id="username" name="username" class="form-control" placeholder="Eg: tenzin chophel" required>
                                </div>
                                <div class="form-group">
                                    <label for="example-email">Email</label>
                                    <input type="email" id="email" name="email" class="form-control" placeholder="Eg: example123@gmail.com" required>
                                </div>
                                <div class="form-group">
                                    <label for="location">Location</label>
                                    <input type="text" id="location" name="location" class="form-control" placeholder="Eg: College of Science and Technology" required>
                                </div>
                                <div class="form-group">
                                    <label for="house_no">House Number</label>
                                    <input type="text" id="house_number" name="house_number" class="form-control" placeholder="Eg: 123" required>
                                </div>                                
                                <div class="modal-footer">
                                    <button class="btn btn-primary" type="submit">Submit</button> 
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of model -->
        <div class="row">
            <div class="col-sm-12">
                    <table class="table table-bordered">
                            <thead class="thead-dark">
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Username</th>
                                <th scope="col">Email</th>
                                <th scope="col">Location</th>
                                <th scope="col">House No</th>
                                <th scope="col" >Action</th>
                              </tr>
                            </thead>
                            <% var c=0; for(var i=0; i < data.length; i++) { c++; %>
                            <tbody>
                                <tr>
                                    <th scope="row"><%= c %></th>
                                    <td>
                                        <a href="profile_home?h_id=<%= data[i].house_number %>"><%= data[i].user_name %></a>
                                    </td>
                                    <td><%= data[i].email %></td>
                                    <td><%= data[i].location %></td>
                                    <td><%= data[i].house_number %></td>   
                                    <td>
                                        <a href="javascript:void(0);" class="btn btn-success myeditbutton" data-toggle="modal" data-target="#myEditModal" data-user_id="<%= data[i].user_id %>" \
                                                data-user_name="<%= data[i].user_name %>" data-email="<%= data[i].email %>" data-location="<%= data[i].location %>" data-house_number="<%= data[i].house_number %>">Edit</a>
                                        <a href="javascript:void(0);"  data-toggle="modal" data-target="#myDeleteModal" class="btn btn-sm btn-danger mydeletebutton" data-userid="<%= data[i].house_number %>">Delete</a>
                                    </td>
                                </tr>
                            </tbody>
                            <% } %>
                          </table>
            </div>
        </div>
            <div class="col-xl-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Temp Guide</h4>
                            <div class="d-flex align-items-center flex-row m-t-30">
                                <div class="display-5 text-info"><i class="wi wi-day-showers"></i> <span>73<sup>°</sup></span></div>
                                <div class="m-l-10">
                                    <h3 class="m-b-0">Saturday</h3><small>Ahmedabad, India</small>
                                </div>
                            </div>
                            <table class="table no-border mini-table m-t-20">
                                <tbody>
                                    <tr>
                                        <td class="text-muted">Wind</td>
                                        <td class="font-medium">ESE 17 mph</td>
                                    </tr>
                                    <tr>
                                        <td class="text-muted">Humidity</td>
                                        <td class="font-medium">83%</td>
                                    </tr>
                                    <tr>
                                        <td class="text-muted">Pressure</td>
                                        <td class="font-medium">28.56 in</td>
                                    </tr>
                                    <tr>
                                        <td class="text-muted">Cloud Cover</td>
                                        <td class="font-medium">78%</td>
                                    </tr>
                                </tbody>
                            </table>
                            <ul class="row list-style-none text-center m-t-30">
                                <li class="col-3">
                                    <h4 class="text-info"><i class="wi wi-day-sunny"></i></h4>
                                    <span class="d-block text-muted">09:30</span>
                                    <h3 class="m-t-5">70<sup>°</sup></h3>
                                </li>
                                <li class="col-3">
                                    <h4 class="text-info"><i class="wi wi-day-cloudy"></i></h4>
                                    <span class="d-block text-muted">11:30</span>
                                    <h3 class="m-t-5">72<sup>°</sup></h3>
                                </li>
                                <li class="col-3">
                                    <h4 class="text-info"><i class="wi wi-day-hail"></i></h4>
                                    <span class="d-block text-muted">13:30</span>
                                    <h3 class="m-t-5">75<sup>°</sup></h3>
                                </li>
                                <li class="col-3">
                                    <h4 class="text-info"><i class="wi wi-day-sprinkle"></i></h4>
                                    <span class="d-block text-muted">15:30</span>
                                    <h3 class="m-t-5">76<sup>°</sup></h3>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            <div class="col-xl-3 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="ti-money text-success border-success"></i></div>
                            <div class="stat-content dib">
                                <div class="stat-text">Total Profit</div>
                                <div class="stat-digit">1,012</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-xl-3 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="ti-user text-primary border-primary"></i></div>
                            <div class="stat-content dib">
                                <div class="stat-text">New Customer</div>
                                <div class="stat-digit">961</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="ti-layout-grid2 text-warning border-warning"></i></div>
                            <div class="stat-content dib">
                                <div class="stat-text">Active Projects</div>
                                <div class="stat-digit">770</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Delete user Modal-->
            <form action="/deleteUser" method="post">
                <div class="modal fade" id="myDeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="myModalLabel">Delete Home</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <strong>Are You Sure to Delete this Data?</strong>
                            </div>
                            <div class="modal-footer">
                                <input  type="hidden" name="userid" class="form-control userid" required>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!-- Edit user Modal-->
            <form action="/updateUser" method="post">
                <div class="modal fade" id="myEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Edit Home</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="user_name">User Name</label>
                                    <input type="text" name="user_name" class="form-control user_name" placeholder="username" required>
                                </div>

                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="text" name="email" class="form-control email" placeholder="email" required>
                                </div>
                                <div class="form-group">
                                    <label for="location">Location</label>
                                    <input type="text" name="location" class="form-control location" placeholder="location" required>
                                </div>
                                <div class="form-group">
                                    <label for="house_number">House Number</label>
                                    <input type="text" name="house_number" class="form-control house_number" placeholder="houseno" required>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="hidden" name="user_id" class="user_id">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
<!-- include footer -->
<% include partials/footer.ejs %>
